body {
    padding: 0;
    padding-top: 50px;
    font-size: 150%;
    margin: 0;
}

/* Navbar padding */
.navbar-default .navbar-nav > li {
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.navbar-default .navbar-nav {
    padding-left: 2vw;
    padding-right: 2vw;
}

    /* Navbar link color */
    .navbar-default .navbar-nav > li > a {
        color: #eee;
    }

        /* Navbar hover link bg-color */
        .navbar-default .navbar-nav > li > a:hover {
            background-color: #666;
            color: #ffffff;
        }

/* Navbar center brand */
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.navbar-toggle {
    z-index: 3;
}

/* Navbar social btn row */
#social-list li, #social-list a, #social-list i {
    float: right;
    padding: 6px;
    display: inline;
}

/* Sections */
/* banner */
#banner {
  background: url("../images/header-img.jpg") no-repeat top center fixed;
  background-size: cover;
  height: 550px;
}

/* about */
#about {
    background-color: #EEE;
    padding-top: 1vw;
    padding-bottom: 4vw;
}
#photo {  
    width: 15em;
    margin-top: 5vw;
} 
.description {
    margin-top: 8vw;
    font-size: calc(1em + 0.5vw);
    text-align: center;
    vertical-align: middle;
}

/* portfolio */
#portfolio {
    
}
.apps {
    padding-top: 1vw;
    padding-bottom: 2vw;
}
.web-games {
    background-color: #EEE;
}

/* contact */
#contact {
    background-color: #EEE;
}