body {
    padding: 0;
    padding-top: 50px;
    font-size: 150%;
    margin: 0;
}

h1 {
    font-size: calc(1em + 2vw);
}

/* Navbar padding */
.navbar-default .navbar-nav > li {
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.navbar-default .navbar-nav {
    padding-left: 2vw;
    padding-right: 2vw;
}

    /* Navbar link color */
    .navbar-default .navbar-nav > li > a {
        color: #eee;
    }

        /* Navbar hover link bg-color */
        .navbar-default .navbar-nav > li > a:hover {
            background-color: #666;
            color: #ffffff;
        }

/* Navbar center brand */
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.navbar-toggle {
    z-index: 3;
}

/* Navbar social btn row */
#social-list li, #social-list a, #social-list i {
    float: right;
    padding: 6px;
    display: inline;
}

/* Sections */
/* banner */
#banner {
    background: url("../images/header-img.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 550px;
}

/* about */
#about {
    background-color: #EEE;
    padding-top: 1vw;
    padding-bottom: 4vw;
}

#photo {
    width: 15em;
    margin-top: 5vw;
}

.description {
    margin-top: 8vw;
    font-size: calc(1em + 0.5vw);
    text-align: center;
    vertical-align: middle;
}

/* portfolio */
#portfolio {
}

.apps {
    padding-top: 1vw;
    padding-bottom: 2vw;
}

/* contact */
#contact {
    background-color: #EEE;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#map {
    width: 100%;
    height: 500px;
}

.contact-info {
    padding-top: 2vw;
}

.btn-contact {
    margin: 1em;
    font-size: calc(1em + 1vw);
}

/* footer */
footer {
    bottom: 0;
    width: 100%;
    background-color: #222;
    border-color: #080808;
}

    footer ul {
        list-style: none;
    }

        footer ul li {
            display: inline-block;
        }

            footer ul li:hover {
                background-color: #777;
            }

            footer ul li a {
                color: #eee;
                display: block;
                font-size: calc(0.7em + 0.3vw);
                padding: calc(0.4em + 0.8vw);
            }

                footer ul li a:hover {
                    text-decoration: none;
                    color: #eee;
                }

.copyright {
    font-size: calc(0.7em + 0.3vw);
    padding: calc(0.4em + 0.8vw);
}
